<a href="https://colab.research.google.com/github/jobayed80/C-Project/blob/main/Import_pandas_CSV_File_Read.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [10]:
df = pd.read_csv('shanghaiData.csv')
#if the file slxs, then
# df = pd.read_excel('file-name.xlsx')

In [11]:
df

,world_rank,university_name,national_rank,total_score,alumni,award,hici,ns,pub,pcp,year
0,1,Harvard University,1,100.0,100.0,100.0,100.0,100.0,100.0,72.4,2005
1,2,University of Cambridge,1,73.6,99.8,93.4,53.3,56.6,70.9,66.9,2005
2,3,Stanford University,2,73.4,41.1,72.2,88.5,70.9,72.3,65.0,2005
3,4,"University of California, Berkeley",3,72.8,71.8,76.0,69.4,73.9,72.2,52.7,2005
4,5,Massachusetts Institute of Technology (MIT),4,70.1,74.0,80.6,66.7,65.8,64.3,53.0,2005
...,...,...,...,...,...,...,...,...,...,...,...
4892,401-500,University of Trieste,11-20,NaN,0.0,0.0,5.0,10.9,25.1,20.1,2015
4893,401-500,University of Zaragoza,9-13,NaN,0.0,0.0,7.6,5.1,33.3,13.1,2015
4894,401-500,Utah State University,126-146,NaN,13.6,0.0,3.6,10.8,25.1,15.5,2015
4895,401-500,Vienna University of Technology,4-6,NaN,0.0,0.0,0.0,12.2,28.8,22.9,2015
4896,401-500,Wake Forest University,126-146,NaN,0.0,0.0,14.9,7.5,25.0,11.9,2015

In [12]:
df.shape

(4897, 11)

In [13]:
type(df)

pandas.core.frame.DataFrame

In [14]:
# head() function that means first 5(default) rows show.
df.head()

,world_rank,university_name,national_rank,total_score,alumni,award,hici,ns,pub,pcp,year
0,1,Harvard University,1,100.0,100.0,100.0,100.0,100.0,100.0,72.4,2005
1,2,University of Cambridge,1,73.6,99.8,93.4,53.3,56.6,70.9,66.9,2005
2,3,Stanford University,2,73.4,41.1,72.2,88.5,70.9,72.3,65.0,2005
3,4,"University of California, Berkeley",3,72.8,71.8,76.0,69.4,73.9,72.2,52.7,2005
4,5,Massachusetts Institute of Technology (MIT),4,70.1,74.0,80.6,66.7,65.8,64.3,53.0,2005

In [16]:
# tail() this function used for last five(default) rows show
df.tail()

,world_rank,university_name,national_rank,total_score,alumni,award,hici,ns,pub,pcp,year
4892,401-500,University of Trieste,11-20,NaN,0.0,0.0,5.0,10.9,25.1,20.1,2015
4893,401-500,University of Zaragoza,9-13,NaN,0.0,0.0,7.6,5.1,33.3,13.1,2015
4894,401-500,Utah State University,126-146,NaN,13.6,0.0,3.6,10.8,25.1,15.5,2015
4895,401-500,Vienna University of Technology,4-6,NaN,0.0,0.0,0.0,12.2,28.8,22.9,2015
4896,401-500,Wake Forest University,126-146,NaN,0.0,0.0,14.9,7.5,25.0,11.9,2015

In [17]:
# head(10) that means first ten rows show
df.head(10)

,world_rank,university_name,national_rank,total_score,alumni,award,hici,ns,pub,pcp,year
0,1,Harvard University,1,100.0,100.0,100.0,100.0,100.0,100.0,72.4,2005
1,2,University of Cambridge,1,73.6,99.8,93.4,53.3,56.6,70.9,66.9,2005
2,3,Stanford University,2,73.4,41.1,72.2,88.5,70.9,72.3,65.0,2005
3,4,"University of California, Berkeley",3,72.8,71.8,76.0,69.4,73.9,72.2,52.7,2005
4,5,Massachusetts Institute of Technology (MIT),4,70.1,74.0,80.6,66.7,65.8,64.3,53.0,2005
5,6,California Institute of Technology,5,67.1,59.2,68.6,59.8,65.8,52.5,100.0,2005
6,7,Columbia University,6,62.3,79.4,60.6,56.1,54.2,69.5,45.4,2005
7,8,Princeton University,7,60.9,63.4,76.8,60.9,48.7,48.5,59.1,2005
8,9,University of Chicago,8,60.1,75.6,81.9,50.3,44.7,56.4,42.2,2005
9,10,University of Oxford,2,59.7,64.3,59.1,48.4,55.6,68.4,53.2,2005

In [18]:
# tail(10) that means last ten rows show
df.tail(10)

,world_rank,university_name,national_rank,total_score,alumni,award,hici,ns,pub,pcp,year
4887,401-500,"University of Science, Malaysia",2,NaN,0.0,0.0,7.1,3.3,30.6,15.7,2015
4888,401-500,University of Seville,9-13,NaN,0.0,0.0,0.0,7.5,33.7,11.3,2015
4889,401-500,University of Surrey,34-37,NaN,0.0,0.0,8.6,4.9,27.0,18.0,2015
4890,401-500,University of Szeged,1-2,NaN,0.0,13.3,3.6,3.4,21.8,12.8,2015
4891,401-500,University of the Basque Country,9-13,NaN,0.0,0.0,3.6,7.1,36.1,13.5,2015
4892,401-500,University of Trieste,11-20,NaN,0.0,0.0,5.0,10.9,25.1,20.1,2015
4893,401-500,University of Zaragoza,9-13,NaN,0.0,0.0,7.6,5.1,33.3,13.1,2015
4894,401-500,Utah State University,126-146,NaN,13.6,0.0,3.6,10.8,25.1,15.5,2015
4895,401-500,Vienna University of Technology,4-6,NaN,0.0,0.0,0.0,12.2,28.8,22.9,2015
4896,401-500,Wake Forest University,126-146,NaN,0.0,0.0,14.9,7.5,25.0,11.9,2015

In [19]:
# Shows total values in DataFrame
df.values

array([['1', 'Harvard University', '1', ..., 100.0, 72.4, 2005],
       ['2', 'University of Cambridge', '1', ..., 70.9, 66.9, 2005],
       ['3', 'Stanford University', '2', ..., 72.3, 65.0, 2005],
       ...,
       ['401-500', 'Utah State University', '126-146', ..., 25.1, 15.5,
        2015],
       ['401-500', 'Vienna University of Technology', '4-6', ..., 28.8,
        22.9, 2015],
       ['401-500', 'Wake Forest University', '126-146', ..., 25.0, 11.9,
        2015]], dtype=object)

In [20]:
#names of columns
df.columns

Index(['world_rank', 'university_name', 'national_rank', 'total_score',
       'alumni', 'award', 'hici', 'ns', 'pub', 'pcp', 'year'],
      dtype='object')

In [22]:
#specific column data show and first ten data show
df.alumni.head(10)
# or = df['alumni].head(10)

0    100.0
1     99.8
2     41.1
3     71.8
4     74.0
5     59.2
6     79.4
7     63.4
8     75.6
9     64.3
Name: alumni, dtype: float64

In [25]:
#specific multiple data show and fisrt 15 data rows show
df[['alumni','university_name', 'national_rank']].head(15)

    alumni                              university_name national_rank
0    100.0                           Harvard University             1
1     99.8                      University of Cambridge             1
2     41.1                          Stanford University             2
3     71.8           University of California, Berkeley             3
4     74.0  Massachusetts Institute of Technology (MIT)             4
5     59.2           California Institute of Technology             5
6     79.4                          Columbia University             6
7     63.4                         Princeton University             7
8     75.6                        University of Chicago             8
9     64.3                         University of Oxford             2
10    52.1                              Yale University             9
11    46.5                           Cornell University            10
12    17.7          University of California, San Diego            11
13    27.3        University of California, Los Angeles            12
14    35.5                   University of Pennsylvania            13

In [30]:
df['university_name'].sort_values().head(20)

4297    Aalborg University
4697    Aalborg University
400       Aalto University
4797      Aalto University
1402      Aalto University
1911      Aalto University
900       Aalto University
4298      Aalto University
2914      Aalto University
3599     Aarhus University
3878     Aarhus University
3970     Aarhus University
2109     Aarhus University
3099     Aarhus University
1603     Aarhus University
100      Aarhus University
601      Aarhus University
2611     Aarhus University
4469     Aarhus University
1101     Aarhus University
Name: university_name, dtype: object

In [35]:
#when used ascending = True then small to highest
#when ascending = False then highest to lowest
df.sort_values('total_score', ascending=False).head(30)

,world_rank,university_name,national_rank,total_score,alumni,award,hici,ns,pub,pcp,year
0,1,Harvard University,1,100.0,100.0,100.0,100.0,100.0,100.0,72.4,2005
2514,1,Harvard University,1,100.0,100.0,100.0,100.0,100.0,100.0,69.2,2010
3897,1,Harvard University,1,100.0,100.0,100.0,100.0,100.0,100.0,75.3,2014
1510,1,Harvard University,1,100.0,100.0,100.0,100.0,100.0,100.0,74.1,2008
3798,1,Harvard University,1.0,100.0,100.0,100.0,100.0,100.0,100.0,72.5,2013
3514,1,Harvard University,1,100.0,100.0,100.0,100.0,100.0,100.0,71.1,2012
2013,1,Harvard University,1,100.0,100.0,100.0,100.0,100.0,100.0,74.8,2009
1000,1,Harvard University,1,100.0,100.0,100.0,100.0,100.0,100.0,73.0,2007
500,1,Harvard University,1,100.0,100.0,100.0,100.0,100.0,100.0,73.6,2006
3014,1,Harvard University,1,100.0,100.0,100.0,100.0,100.0,100.0,70.5,2011
4397,1,Harvard University,1,100.0,100.0,100.0,100.0,100.0,100.0,76.6,2015
1001,2,Stanford University,2,73.7,42.0,78.7,86.1,69.6,70.3,65.7,2007
1511,2,Stanford University,2,73.7,40.0,78.7,86.6,68.9,71.6,66.9,2008
1,2,University of Cambridge,1,73.6,99.8,93.4,53.3,56.6,70.9,66.9,2005
2,3,Stanford University,2,73.4,41.1,72.2,88.5,70.9,72.3,65.0,2005
4398,2,Stanford University,2,73.3,40.7,89.6,80.1,70.1,70.6,53.8,2015
2014,2,Stanford University,2,73.1,39.0,78.7,87.1,67.3,70.1,66.9,2009
3515,2,Stanford University,2,72.8,38.0,79.7,88.9,71.6,69.6,49.2,2012
3,4,"University of California, Berkeley",3,72.8,71.8,76.0,69.4,73.9,72.2,52.7,2005
501,2,University of Cambridge,1,72.6,96.3,91.5,53.8,59.5,67.1,66.5,2006
3015,2,Stanford University,2,72.6,41.2,78.4,88.4,70.2,70.3,48.6,2011
3799,2,Stanford University,2.0,72.6,40.0,80.7,88.9,68.7,69.4,50.4,2013
502,3,Stanford University,2,72.5,39.7,70.7,88.4,70.0,71.4,65.3,2006
2515,2,"University of California, Berkeley",2,72.4,67.6,79.3,69.0,70.9,70.6,54.2,2010
3898,2,Stanford University,2,72.1,41.8,82.8,79.8,71.1,70.9,51.9,2014
503,4,"University of California, Berkeley",3,72.1,70.6,74.5,70.5,72.2,71.9,53.1,2006
2516,3,Stanford University,3,72.1,40.2,78.4,87.6,68.4,69.7,50.1,2010
3016,3,Massachusetts Institute of Technology (MIT),3,72.0,72.8,81.9,67.9,70.6,60.6,63.7,2011
3017,4,"University of California, Berkeley",4,71.9,68.3,79.3,70.0,69.5,69.4,53.1,2011
1002,3,"University of California, Berkeley",3,71.9,72.5,77.1,67.9,72.9,69.2,52.6,2007

In [36]:
# It is used for all numerical values but if here have String letter then ignore string letter
df.describe()

,total_score,alumni,award,hici,ns,pub,pcp,year
count,1101.000000,4896.000000,4895.00000,4895.000000,4875.000000,4895.000000,4895.000000,4897.000000
mean,36.383470,9.161724,7.69191,16.221491,16.078503,38.254648,21.242329,2009.658566
std,13.557186,14.140636,15.49411,14.382710,12.511529,13.050809,9.254351,3.197576
min,23.500000,0.000000,0.00000,0.000000,0.000000,7.300000,8.300000,2005.000000
25%,27.400000,0.000000,0.00000,7.300000,8.000000,28.900000,15.600000,2007.000000
50%,31.300000,0.000000,0.00000,12.600000,12.800000,36.000000,19.000000,2009.000000
75%,41.800000,15.600000,13.40000,21.700000,19.800000,45.300000,24.500000,2012.000000
max,100.000000,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,2015.000000

In [39]:
# If i want to do correlation with o column and other column like(X-axis and Y-axis), then
df.corr()

<ipython-input-39-2e7b24186b13>:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,total_score,alumni,award,hici,ns,pub,pcp,year
total_score,1.000000,0.769191,0.831950,0.870980,0.929130,0.627578,0.755265,-0.009685
alumni,0.769191,1.000000,0.763562,0.620527,0.694470,0.516182,0.672102,0.008245
award,0.831950,0.763562,1.000000,0.669609,0.735800,0.468816,0.729365,0.059676
hici,0.870980,0.620527,0.669609,1.000000,0.868726,0.674076,0.690232,0.052731
ns,0.929130,0.694470,0.735800,0.868726,1.000000,0.699849,0.758854,0.053075
pub,0.627578,0.516182,0.468816,0.674076,0.699849,1.000000,0.534018,0.101090
pcp,0.755265,0.672102,0.729365,0.690232,0.758854,0.534018,1.000000,0.059822
year,-0.009685,0.008245,0.059676,0.052731,0.053075,0.101090,0.059822,1.000000

In [41]:
#conditional statement
# data type must be numerical value but not acceptable string letter/character
df['alumni'] > 50

0        True
1        True
2       False
3        True
4        True
        ...
4892    False
4893    False
4894    False
4895    False
4896    False
Name: alumni, Length: 4897, dtype: bool

In [45]:
df[df['alumni'] > 50].head(100)

,world_rank,university_name,national_rank,total_score,alumni,award,hici,ns,pub,pcp,year
0,1,Harvard University,1,100.0,100.0,100.0,100.0,100.0,100.0,72.4,2005
1,2,University of Cambridge,1,73.6,99.8,93.4,53.3,56.6,70.9,66.9,2005
3,4,"University of California, Berkeley",3,72.8,71.8,76.0,69.4,73.9,72.2,52.7,2005
4,5,Massachusetts Institute of Technology (MIT),4,70.1,74.0,80.6,66.7,65.8,64.3,53.0,2005
5,6,California Institute of Technology,5,67.1,59.2,68.6,59.8,65.8,52.5,100.0,2005
...,...,...,...,...,...,...,...,...,...,...,...
3904,8,Columbia University,7,59.6,65.1,65.9,51.6,55.0,69.1,33.1,2014
3905,9,University of Chicago,8,57.4,61.4,86.3,48.4,43.0,50.7,41.5,2014
3906,9,University of Oxford,2,57.4,51.0,54.9,52.8,52.7,72.7,43.0,2014
3963,67,Ecole Normale Superieure - Paris,3,28.3,50.2,28.0,11.2,16.8,26.8,59.8,2014
4397,1,Harvard University,1,100.0,100.0,100.0,100.0,100.0,100.0,76.6,2015

In [47]:
#used for String value
df[df['university_name'] == 'University of Oxford']

,world_rank,university_name,national_rank,total_score,alumni,award,hici,ns,pub,pcp,year
9,10,University of Oxford,2,59.7,64.3,59.1,48.4,55.6,68.4,53.2,2005
509,10,University of Oxford,2,57.6,62.0,57.9,48.0,54.3,66.0,46.0,2006
1009,10,University of Oxford,2,56.4,60.3,57.9,46.3,52.3,65.4,44.7,2007
1519,10,University of Oxford,2,56.8,59.0,57.9,48.4,52.0,66.0,45.7,2008
2022,10,University of Oxford,2,56.3,57.6,57.9,48.9,49.8,66.1,45.7,2009
2523,10,University of Oxford,2,56.4,56.2,57.6,48.8,49.8,68.5,41.1,2010
3023,10,University of Oxford,2,56.4,55.5,57.6,48.9,49.7,69.5,40.0,2011
3523,10,University of Oxford,2,56.1,51.2,56.6,48.9,52.1,68.9,40.3,2012
3807,10,University of Oxford,2.0,55.9,51.8,55.3,48.9,51.3,69.9,41.2,2013
3906,9,University of Oxford,2,57.4,51.0,54.9,52.8,52.7,72.7,43.0,2014
4406,10,University of Oxford,2,56.6,49.7,54.9,52.3,51.9,70.9,43.1,2015

In [49]:
df[df['university_name'] != 'University of Oxford']

,world_rank,university_name,national_rank,total_score,alumni,award,hici,ns,pub,pcp,year
0,1,Harvard University,1,100.0,100.0,100.0,100.0,100.0,100.0,72.4,2005
1,2,University of Cambridge,1,73.6,99.8,93.4,53.3,56.6,70.9,66.9,2005
2,3,Stanford University,2,73.4,41.1,72.2,88.5,70.9,72.3,65.0,2005
3,4,"University of California, Berkeley",3,72.8,71.8,76.0,69.4,73.9,72.2,52.7,2005
4,5,Massachusetts Institute of Technology (MIT),4,70.1,74.0,80.6,66.7,65.8,64.3,53.0,2005
...,...,...,...,...,...,...,...,...,...,...,...
4892,401-500,University of Trieste,11-20,NaN,0.0,0.0,5.0,10.9,25.1,20.1,2015
4893,401-500,University of Zaragoza,9-13,NaN,0.0,0.0,7.6,5.1,33.3,13.1,2015
4894,401-500,Utah State University,126-146,NaN,13.6,0.0,3.6,10.8,25.1,15.5,2015
4895,401-500,Vienna University of Technology,4-6,NaN,0.0,0.0,0.0,12.2,28.8,22.9,2015
4896,401-500,Wake Forest University,126-146,NaN,0.0,0.0,14.9,7.5,25.0,11.9,2015

In [52]:
df[(df['university_name'] == 'University of Oxford') | (df['university_name'] == 'Wake Forest University')]

,world_rank,university_name,national_rank,total_score,alumni,award,hici,ns,pub,pcp,year
9,10,University of Oxford,2,59.7,64.3,59.1,48.4,55.6,68.4,53.2,2005
294,203-300,Wake Forest University,91-119,NaN,0.0,0.0,11.1,10.9,33.4,23.2,2005
509,10,University of Oxford,2,57.6,62.0,57.9,48.0,54.3,66.0,46.0,2006
794,201-300,Wake Forest University,88-118,NaN,0.0,0.0,10.9,10.8,34.4,24.1,2006
1009,10,University of Oxford,2,56.4,60.3,57.9,46.3,52.3,65.4,44.7,2007
1297,203-304,Wake Forest University,89-117,NaN,0.0,0.0,10.5,10.9,33.2,23.2,2007
1519,10,University of Oxford,2,56.8,59.0,57.9,48.4,52.0,66.0,45.7,2008
1805,201-302,Wake Forest University,91-114,NaN,0.0,0.0,10.3,9.4,33.6,18.8,2008
2022,10,University of Oxford,2,56.3,57.6,57.9,48.9,49.8,66.1,45.7,2009
2412,303-401,Wake Forest University,113-138,NaN,0.0,0.0,10.3,6.8,32.4,22.5,2009
2523,10,University of Oxford,2,56.4,56.2,57.6,48.8,49.8,68.5,41.1,2010
2911,301-400,Wake Forest University,112-137,NaN,0.0,0.0,10.2,7.9,33.5,13.8,2010
3023,10,University of Oxford,2,56.4,55.5,57.6,48.9,49.7,69.5,40.0,2011
3411,301-400,Wake Forest University,111-137,NaN,0.0,0.0,12.5,8.3,31.8,13.1,2011
3523,10,University of Oxford,2,56.1,51.2,56.6,48.9,52.1,68.9,40.3,2012
3807,10,University of Oxford,2.0,55.9,51.8,55.3,48.9,51.3,69.9,41.2,2013
3906,9,University of Oxford,2,57.4,51.0,54.9,52.8,52.7,72.7,43.0,2014
4294,301-400,Wake Forest University,105-125,NaN,0.0,0.0,14.9,7.5,25.8,12.0,2014
4406,10,University of Oxford,2,56.6,49.7,54.9,52.3,51.9,70.9,43.1,2015
4896,401-500,Wake Forest University,126-146,NaN,0.0,0.0,14.9,7.5,25.0,11.9,2015

In [53]:
df['university_name'].isin(['University of Oxford', 'Stanford University'])

0       False
1       False
2        True
3       False
4       False
        ...
4892    False
4893    False
4894    False
4895    False
4896    False
Name: university_name, Length: 4897, dtype: bool

In [54]:
df[df['university_name'].isin(['University of Oxford', 'Stanford University'])]

,world_rank,university_name,national_rank,total_score,alumni,award,hici,ns,pub,pcp,year
2,3,Stanford University,2,73.4,41.1,72.2,88.5,70.9,72.3,65.0,2005
9,10,University of Oxford,2,59.7,64.3,59.1,48.4,55.6,68.4,53.2,2005
502,3,Stanford University,2,72.5,39.7,70.7,88.4,70.0,71.4,65.3,2006
509,10,University of Oxford,2,57.6,62.0,57.9,48.0,54.3,66.0,46.0,2006
1001,2,Stanford University,2,73.7,42.0,78.7,86.1,69.6,70.3,65.7,2007
1009,10,University of Oxford,2,56.4,60.3,57.9,46.3,52.3,65.4,44.7,2007
1511,2,Stanford University,2,73.7,40.0,78.7,86.6,68.9,71.6,66.9,2008
1519,10,University of Oxford,2,56.8,59.0,57.9,48.4,52.0,66.0,45.7,2008
2014,2,Stanford University,2,73.1,39.0,78.7,87.1,67.3,70.1,66.9,2009
2022,10,University of Oxford,2,56.3,57.6,57.9,48.9,49.8,66.1,45.7,2009
2516,3,Stanford University,3,72.1,40.2,78.4,87.6,68.4,69.7,50.1,2010
2523,10,University of Oxford,2,56.4,56.2,57.6,48.8,49.8,68.5,41.1,2010
3015,2,Stanford University,2,72.6,41.2,78.4,88.4,70.2,70.3,48.6,2011
3023,10,University of Oxford,2,56.4,55.5,57.6,48.9,49.7,69.5,40.0,2011
3515,2,Stanford University,2,72.8,38.0,79.7,88.9,71.6,69.6,49.2,2012
3523,10,University of Oxford,2,56.1,51.2,56.6,48.9,52.1,68.9,40.3,2012
3799,2,Stanford University,2.0,72.6,40.0,80.7,88.9,68.7,69.4,50.4,2013
3807,10,University of Oxford,2.0,55.9,51.8,55.3,48.9,51.3,69.9,41.2,2013
3898,2,Stanford University,2,72.1,41.8,82.8,79.8,71.1,70.9,51.9,2014
3906,9,University of Oxford,2,57.4,51.0,54.9,52.8,52.7,72.7,43.0,2014
4398,2,Stanford University,2,73.3,40.7,89.6,80.1,70.1,70.6,53.8,2015
4406,10,University of Oxford,2,56.6,49.7,54.9,52.3,51.9,70.9,43.1,2015